version: '3'

services:
  redis:
    image: redis:4.0.9-alpine
    expose:
      - "6379"

  nsqlookupd:
    image: nsqio/nsq:v0.3.8
    command: /nsqlookupd
    ports:
      - "4160:4160"
      - "4161:4161"

  nsqd:
    image: nsqio/nsq:v0.3.8
    command: /nsqd --lookupd-tcp-address=nsqlookupd:4160 --broadcast-address=${HOST_NAME}
    depends_on:
      - nsqlookupd
    links:
      - nsqlookupd:nsqlookupd
    ports:
      - "4150:4150"
      - "4151:4151"

  nsqadmin:
    image: nsqio/nsq:v0.3.8
    ports:
      - "4171:4171"
    depends_on:
      - nsqlookupd
    links:
      - nsqlookupd:nsqlookupd
    command: /nsqadmin --lookupd-http-address=nsqlookupd:4161

  driver-location:
    build:
      context: .
      dockerfile: Dockerfile.dl
    expose:
      - "8081"
      - "9103"
    depends_on:
      - nsqlookupd
      - nsqd
      - redis
    environment:
      NSQD_TCP_ADDRS: "nsqd:4150"
      NSQ_LOOKUPD_HTTP_ADDRS: "nsqlookupd:4161"
      NSQ_TOPIC: "locations"
      NSQ_CHAN: "loc-chan"
      REDIS_ADDR: "redis:6379"
    command: /bin/driver-location

  zombie-driver:
    build:
      context: .
      dockerfile: Dockerfile.zd
    depends_on:
      - driver-location
    environment:
      DRIVER_LOCATION_URL: "http://driver-location:8081/drivers/%s/locations?minutes=%d" # todo: don't use format string
      ZOMBIE_RADIUS: 500
      ZOMBIE_TIME: 5
    expose:
      - "8082"
      - "9104"
    command: /bin/zombie-driver

  gateway:
    build:
      context: .
      dockerfile: Dockerfile.ga
    depends_on:
      - zombie-driver
      - driver-location
    ports:
      - "8080:8080"
    expose:
      - "9102"
    command: /bin/gateway --cfg-file=/config/config.yaml
