urls:
  -
    path: "/drivers/{id:[0-9]+}/locations"
    method: "PATCH"
    nsq:
      topic: "locations"
      dest_tcp_addr:
          - "127.0.0.1:4150"
  -
    path: "/drivers/{id:[0-9]+}"
    method: "GET"
    http:
      host: "zombie-driver"
